.container {
  padding: 20px 20px 0px;
  width: 85%;
  margin-right: 40px;
}

.project {
  width: 15%;
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  margin-right: 20px;
  border-left: 2px solid black;

  h2 {
    text-decoration: underline;
    color: sienna;
  }

  ul {
    margin-left: 30px;
    margin-top: 30px;
    text-align: start;
    width: fit-content;

    li {
      border: 2px solid black;
      border-radius: 5px;
      margin: 5px 0px;
      padding: 1px 7px;
      font-weight: 500;
    }

    .delete-btn {
      background: none;
      border: none;
      cursor: pointer;
      float: right;
      font-size: 14px;
      margin: 1px 0px 2px 15px;
      color: #ff0800;
      opacity: 0.8;
    }

    .delete-btn:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
}

full-calendar {
  width: 100%;
  min-height: 600px;
}

.btn {
  margin: 5px;
}

.btn.active {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
